<footer id="sarah-contact" class="footer">
    <div class="footer__container">
        <div class="footer__item">
            <h2 class="heading heading--2">About Sarah</h2>
            <p class="text text--big">
                I am a current senior at Walnut High School in Walnut, CA.
            </p>
            <p class="text text--big">
                Through my work, I aim to use rigorous design grounded in sound science to positively impact those in my community.
            </p>
        </div>
        <div class="footer__item">
            <h2 class="heading heading--2">Get in touch</h2>
            <a href="mailto:sarah@sarahlilybai.com"
                target="_top"
                rel="noopener noreferrer"
                class="text text--big text--link">sarah@sarahlilybai.com</a>
            <p class="text text--big">
                <a href="https://github.com/sarahbai8"
                target="_blank"
                rel="noopener noreferrer"
                class="text--link">GitHub</a>
                |
                <a href="https://www.youtube.com/channel/UCQdAySwPfa0z0TnxFtTeRqg"
                target="_blank"
                rel="noopener noreferrer"
                class="text--link">YouTube</a>
                |
                <a href="https://vsco.co/sxrahbai"
                target="_blank"
                rel="noopener noreferrer"
                class="text--link">VSCO</a>
            </p>
            <p class="text text--big">
                &copy; {{ site.time | date: '%Y' }} Sarah Bai
            </p>
        </div>
    </div>
</footer>
