.hide {
    display: none;

    &-sm {
        @media (max-width: $breakpoint-medium) {
            display: none;
        }
    }
    &-lg {
        @media (min-width: $breakpoint-medium + 1) {
            display: none;
        }
    }
}

.margin-t {
    margin-top: $baseunit;
}
