$color-blue: #ecf3fd;
$color-blue-light: #f5f9fe;
$color-gray: #f8f8f8;
$color-gray-light: #f2f2f2;

$color-text: #4f4f4f;
$color-button: #0d4898;
$color-button-tint: #9eb5d5;

$baseunit: 1rem;
$border-radius: 3px;
$border-width: 1px;

$text-block-width: 35 * $baseunit;

$breakpoint-small: 320px;
$breakpoint-medium: 780px;
$breakpoint-large: 1000px;
